img {
    opacity: 0.5;
}

img:hover {
    opacity: 1;
}

figure {
    border: 10px solid lightgray;
    border-radius: 15px;
    margin: auto;
}

figcaption {
    color: bisque;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

.thumbnail {
    width: 100%;
}