* {
    margin: 0;
}

.container {
    justify-content: center;
    padding: 5%;
    background-color: #8a9a5b;
}

.content {
    display: flex;
    gap: 20px;
    padding: 5%;
}

.blog-content {
    display: flex;
    gap: 20px;
    padding: 5%;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: justify;
}

@media(max-width: 600px) {
    .container {
        display: grid;
        grid-template-areas:
            "header"
            "content",
            "footer";
    }

    .content {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media(min-width: 600px) and (max-width:900px) {
    .container {
        display: grid;
        grid-template-areas:
            "header header"
            "content content",
            "footer footer";
    }
}

@media(min-width: 901px) {
    .container {
        display: grid;
        grid-template-areas:
            "header header"
            "content content",
            "footer footer";
    }
}


.header {
    grid-area: "header";
    justify-content: center;
}

.footer {
    grid-area: "footer";
    justify-content: center;
}